body {
    font-family: Helvetica,"Microsoft Yahei",Verdana,Helvetica,SimSun,Arial,"Arial Unicode MS",MingLiu,PMingLiu,"MS Gothic",sans-serief;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    word-wrap: break-word;
    font-size: 14px !important;
}

.content {
    padding: 10px;
}

.tags {
    padding: 10px;
    text-align: left;
}

    .tags img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

.footer {
    background-color: #F4F4F4;
}

    .footer span {
        display: block;
    }

    .footer .line {
        background-color: #EBE8EB;
        height: 1px;
    }

    .footer .comment {
        color: #757575;
        padding: 5px 10px;
    }

p {
    margin-top: 0;
    margin-bottom: 5pt;
    line-height: 1.8em;
}

img {
    max-width: 90%;
    height: auto;
}

div.bimg {
    text-align: center;
    padding: 0;
}

audio {
    width: 100%
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.8em;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0.15);
}


pre {
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

h2 {
    font-size: 150%;
    margin: 15px auto 2px auto;
    font-weight: bold;
}

h3 {
    font-size: 120%;
    margin: 15px auto 2px auto;
}

h4 {
    font-size: 110%;
    margin: 15px auto 2px auto;
    font-weight: bold;
}

h5 {
    font-size: 100%;
    margin: 15px auto 2px auto;
    font-weight: bold;
}

h6 {
    font-size: 90%;
    margin: 15px auto 2px auto;
    font-weight: bold;
}

code {
    font-family: "Courier New",sans-serif !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    background-color: #f5f5f5 !important;
    border: 1px solid #ccc !important;
    padding: 5px !important;
    border-radius: 3px !important;
    line-height: 1.8;
    margin: 1px 5px;
    vertical-align: middle;
    display: inline-block;
}

a:link, a:visited {
    color: #1e89e7;
    text-decoration: none;
}

ul {
    margin-left: 30px;
    padding-left: 0;
    word-break: break-all;
}

    ul li {
        list-style-type: disc;
        margin-bottom: 1em;
    }

.cnblogs_code {
    background-color: #f5f5f5;
    font-family: Courier New !important;
    font-size: 12px !important;
    border: 1px solid #ccc;
    padding: 5px;
    overflow: auto;
    margin: 5px 0;
    color: #000;
}

.ing-icon {
    margin-left: 5px;
    vertical-align: middle;
    width: 24px;
    border: 0;
}
